html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container>* {
    padding: 0.625rem;
    flex: 1 100%;
}

/* STATISTICS AND SETTINGS PANEL */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: white;
}

.navbar-hamburger {
    display: none;
}

.navbar-statistics,
.navbar-settings {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.navbar-button {
    padding-right: 0.5rem;
}

.moves-wrapper,
.time-wrapper {
    padding: 1rem;
    flex: none;
    cursor: default;
}

.navbar-button {
    padding: 1rem;
    cursor: pointer;
}

.navbar-button > i {
    padding-right: 5px;
}


/* STARS AND HINTS */

.stars-hints-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0;
}

.hints-wrapper,
.stars-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
}

.stars-wrapper li,
.hints-wrapper li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 2px;
    color: #ffbf00;
}

.hints-wrapper li i {
    cursor: pointer;
    font-size: 1.625rem;
    padding: 0.1875rem;
}

.lost,
.used {
    color: #808080;
}

@media only screen and (max-width: 768px) {

    .navbar-settings,
    .navbar {
        flex-direction: column;
    }

    .navbar-hamburger {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding: 1rem 1rem;
    }

    .navbar-settings {
        display: none;
    }

    .navbar-list-show {
        display: flex;
    }

    .moves-wrapper,
    .time-wrapper {
        flex: 1 1 50%;
    }

    .stars-hints-wrapper {
        padding: 1rem 1rem 0;
    }
}

/* 
* Prevent clicks when cards are displayed for 5 seconds
*/
.avoid-clicks {
    pointer-events: none;
}

/*
 * Styles for the deck of cards
 */

 .deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}


/*
 * Styles for the Modal Panel
 */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.88);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

body.modal-open {
    overflow: hidden;
}

.hide {
    display: none;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.modal-stats {
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-description {
    text-align: center;
}