html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Pacifico', cursive;
}

.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container>* {
    padding: 0.625rem;
    flex: 1 100%;
}

/* STATISTICS AND SETTINGS PANEL */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: white;
}

.navbar-hamburger {
    display: none;
}

.navbar-statistics,
.navbar-settings {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.navbar-button {
    padding-right: 0.5rem;
}

.moves-wrapper,
.time-wrapper {
    padding: 1rem;
    flex: none;
    cursor: default;
}

.navbar-button {
    padding: 1rem;
    cursor: pointer;
}

.navbar-button > span {
    padding-left: 4px;
}

.navbar-button:hover > i.fa-redo,
.navbar-button:hover > i.fa-cog {
    animation: fa-spin 2s 1;
}

.navbar-button:hover > i.fa-crown {
    animation: golden 2s 1;
}

@keyframes golden {
    0% {
      color: #fff;
    }
    100% {
      color: #ffbf00;
    }
  }

@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

/* STARS AND HINTS */

.stars-hints-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem;
    margin: 0 auto;
}

.hints-wrapper,
.stars-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
}

.stars-wrapper li,
.hints-wrapper li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 2px;
    color: #ffbf00;
}

.hints-wrapper li i {
    cursor: pointer;
    font-size: 1.625rem;
    padding: 0.1875rem;
}

.lost,
.used {
    color: #808080;
}

@media only screen and (max-width: 800px) {
    .navbar-settings,
    .navbar {
        flex-direction: column;
    }

    .navbar-hamburger {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding: 1rem 1rem;
    }

    .navbar-settings {
        display: none;
    }

    .navbar-list-show {
        display: flex;
    }

    .moves-wrapper,
    .time-wrapper {
        flex: 1 1 50%;
    }
}


/*
 * Styles for the deck of cards
 */

 .cards-wrapper {
    padding: 0 2rem 2rem;
 }

 .deck {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
}

.deck .card-wrapper {
    flex: 0 0 16.6%;
    display: flex;
    justify-content: center;
}

.deck .card {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no-match {
    background: #FF5555;
}

/* blinker from https://stackoverflow.com/a/16344548/7382214 */
@keyframes blink { to {opacity: 1; } }

.cards-blink i {
    opacity: 0 !important;
    animation: blink 1s linear infinite alternate;  
}


/*
 * Styles for the Modals
 */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.88);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

body.modal-open {
    overflow: hidden;
}

.hide {
    display: none;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.modal-statistics {
    margin-bottom: 20px;
    font-weight: 700;
}

.modal-statistics span {
    font-weight: 500;
}

.modal-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* buttons from https://codepen.io/cheeriottis/pen/inluv */
.button-modal {
    position: relative;
    padding: 0.5rem 2rem;
    margin: 0px 0.625rem 0.625rem 0px;
    float: left;
    border: none;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    cursor: pointer;
}

.hard {
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.hard:hover {
    background-color: #BD3E31;
    border-bottom: 5px solid #66221b;
}

.medium {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.medium:hover {
    background-color: #D1B358;
    border-bottom: 5px solid #87743a;
}

.easy {
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.easy:hover {
    background-color:  #669644;
    border-bottom: 5px solid #41602b;
}

.button-modal:active,
.button-modal:focus {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
    outline: none;
}


/* scoreboards */

.scoreboard-table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.scoreboard-header>th {
    padding: 0 0.625rem;
}

.final-result>tr>td,
.scoreboard-results>tr>td {
    padding: 0.625rem;
}

.final-result>tr:hover,
.scoreboard-results>tr:hover {
    background: #dddddd;
    border-radius: 10px;
}

.final-result>tr:hover>td:first-child,
.scoreboard-results>tr:hover>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.final-result>tr:hover>td:last-child,
.scoreboard-results>tr:hover>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 
* Prevent clicks when cards are displayed for 5 seconds
*/
.avoid-clicks {
    pointer-events: none;
    cursor: not-allowed !important;
}