html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(/img/Rainbow.svg); */
    background-image: url('https://cdn.rawgit.com/BarbaraStempien/FEND--Memory-Game/master/img/Rainbow.svg');
    /* Addressing a SVG related bug in GitHub Pages */
    /* Background pattern from Free Vector Graphics by vecteezy.com */
    font-family: 'Pacifico', cursive;
    color: #2e3d49;
    background-size: cover;
    background-position: top center;
    background-position-x: center;
    background-position-y: top;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.container>* {
    padding: 0.625rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
}

.hide {
    display: none !important;
}

/* STATISTICS AND SETTINGS PANEL */

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    color: white;
    text-shadow: 1px 1px #000;
    font-size: 1.2rem;
}

.navbar-hamburger {
    display: none;
}

.navbar-statistics,
.navbar-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2rem;
}

.navbar-button {
    padding-right: 0.5rem;
}

.moves-wrapper,
.time-wrapper {
    padding: 1rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    cursor: default;
}

.navbar-button {
    padding: 1rem;
    cursor: pointer;
}

.navbar-button>span {
    padding-left: 4px;
}

.navbar-button:hover {
    color: #ffbf00;
}

/* STARS AND HINTS */

.stars-hints-wrapper {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem;
    margin: 0 auto;
    text-shadow: 1px 1px #000;
}

.hints-wrapper,
.stars-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}

.stars-wrapper li,
.hints-wrapper li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 2px;
    color: #ffbf00;
}

.hints-wrapper li i {
    cursor: pointer;
    font-size: 1.625rem;
    padding: 0.1875rem;
}

.lost,
.used {
    -webkit-animation: grey-out 0.3s linear 2 alternate;
    animation: grey-out 0.3s linear 2 alternate;
    color: #657a7b;
}

@-webkit-keyframes grey-out {
    to {
        color: #ffbf00;
    }
}

@keyframes grey-out {
    to {
        color: #ffbf00;
    }
}

@media only screen and (max-width: 880px) {

    .navbar-settings,
    .navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .navbar-hamburger {
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        padding: 1rem 1rem;
    }

    .navbar-settings {
        display: none;
    }

    .navbar-list-show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .moves-wrapper,
    .time-wrapper {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    }
}


/*
 * Styles for the deck of cards
 */

.cards-wrapper {
    padding: 0 2rem 2rem;
}

.deck {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -o-linear-gradient(290deg, #f1bd6a 0%, #38abfa 100%);
    background: linear-gradient(160deg, #f1bd6a 0%, #38abfa 100%);
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem 0;
}

.deck .card-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6%;
    flex: 0 0 16.6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.625rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

/* show blinking icons */
/* blinker from https://stackoverflow.com/a/16344548/7382214 */
@-webkit-keyframes blink {
    to {
        opacity: 1;
    }
}

@keyframes blink {
    to {
        opacity: 1;
    }
}

.cards-blink i {
    opacity: 0;
    -webkit-animation: blink 1s linear infinite alternate;
    animation: blink 1s linear infinite alternate;
}

/* icons colors */
.deck .fa {
    text-shadow: 1px 1px #000;
}

.deck .fa-crown {
    color: #f19d26;
}

.deck .fa-bolt {
    color: #ffc470;
}

.deck .fa-sun {
    color: #fa9164;
}

.deck .fa-leaf {
    color: #64a956;
}

.deck .fa-heart {
    color: #e24e54;
}

.deck .fa-frog {
    color: #6c60af;
}

.deck .fa-gem {
    color: #4ebefd;
}

.deck .fa-paw {
    color: #8a2020;
}

.deck .fa-moon {
    color: #797979;
}

/* style for matched and not matched cards */
.deck .card:not(.match):hover {
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5)
}

.deck .card.show {
    font-size: 33px;
    cursor: default;
    font-size: 33px;
}

.deck .card.match {
    -webkit-animation: shake-yes 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake-yes 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: default;
    font-size: 33px;
    opacity: 0.5;
}

.deck .card.no-match {
    -webkit-animation: shake-no 0.82s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake-no 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/* Shake animation from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@-webkit-keyframes shake-no {

    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake-no {

    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@-webkit-keyframes shake-yes {

    10%,
    90% {
        -webkit-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0);
    }
}

@keyframes shake-yes {

    10%,
    90% {
        -webkit-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0);
    }
}

/*
 * Generic styles for all modals
 */

.modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.88);
    overflow-y: scroll;
}

/* hide scrollbar when modal is open */
body.modal-open {
    overflow: hidden;
}

.modal-content {
    max-width: 800px;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 0.625rem;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 550px;
    overflow-y: auto;
    /* background: #fff url(/img/Unicorn_1.svg) left center/contain no-repeat; */
    background: #fff url('https://cdn.rawgit.com/BarbaraStempien/FEND--Memory-Game/master/img/Unicorn_1.svg') left center/contain no-repeat;
    /* Addressing a SVG related bug in GitHub Pages */
    /* Image from https://www.iconfinder.com/icons/2913106/animal_cartoon_fairytale_fantasy_horse_magic_unicorn_icon */
}

.modal-header {
    text-align: center;
    margin: 0;
    margin-bottom: 1.25rem;
}

.modal-description {
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.1rem;
}

.modal-description ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.modal-description a {
    text-decoration: none;
    color: #2e3d49;
    font-weight: bold;
}

.modal-description a:hover {
    text-decoration: underline;
}

.modal-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* buttons from https://codepen.io/cheeriottis/pen/inluv */
.button-modal {
    position: relative;
    padding: 0.5rem 2rem;
    margin: 0px 1.25rem 0 0px;
    float: left;
    border: none;
    border-radius: 0.625rem;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    cursor: pointer;
    background-color: #D4AF37;
    border-bottom: 5px solid #C69400;
    text-shadow: 0px -2px #9B7400;
}

.button-modal:hover {
    background-color: #9B7400;
    border-bottom: 5px solid #775900;
    text-shadow: 0px -2px #4C3900;
}

.button-modal:active,
.button-modal:focus {
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
    outline: none;
}


/* scoreboards */

.scoreboard-table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.scoreboard-header>th {
    padding: 0.625rem;
}

.final-result>tr>td,
.scoreboard-results>tr>td {
    padding: 0.625rem;
}

.final-result>tr:hover>td:first-child,
.scoreboard-results>tr:hover>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.final-result>tr:hover>td:last-child,
.scoreboard-results>tr:hover>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 
* Prevent clicks when cards are displayed for 5 seconds
*/
.avoid-clicks {
    pointer-events: none;
    cursor: not-allowed !important;
}